@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Biblioteca - Ponto da Leitura</h1>
    <p class="lead">Controle aqui todos seus exemplares disponiveis.</p>
</div>

<div class="row">
   
</div>